table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

* {
    /* nargin: 0;
    padding: 0;
    */
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
}

ul li a {
    text-decoration: none;
}

html {
    font-size: 16px;
}


/* ID */

#header {
    width: 5em;
    height: 5em;
    background-color: cyan;
    float: left;
}

#menu {
    width: 5rem;
    /* 5 x 16 = 80px */
    height: 5rem;
    background-color: rgb(0, 89, 255);
    float: right;
}